In [1]:
#Sai Ram

# Set introduction

In [82]:
s = {} #by default curly brackets creates a dict
s

{}

In [3]:
type(s1)

dict

In [21]:
s1 = set() #creates an empty set, to define a set,we should use set() function
s1

set()

In [22]:
type(s1)

set

# add function

In [34]:
s1.add(10) 
s1.add(2.4)
s1.add(20)

s1

{(1+2j), 10, 2.4, 20, 60, 'Sai', True}

In [37]:
s1.add("Sai") #we can add different data type values to a set
s1.add(True)
s1.add(1+2j)
s1.add(60)

s1

{(1+2j), 10, 2.4, 20, 60, 'Sai', True}

In [30]:
s1 # set will not return the values in the same order which we've added the elements

{(1+2j), 10, 2.4, 20, 60, 'Sai', True}

In [38]:
print(s1) #set will print the values in a random order

{True, 2.4, 'Sai', (1+2j), 10, 20, 60}

In [39]:
print(s1)

{True, 2.4, 'Sai', (1+2j), 10, 20, 60}

In [40]:
s2 = set()
s2

set()

In [42]:
s2.add(10,20) #invalid as only one value can be added at a time

TypeError: set.add() takes exactly one argument (2 given)

In [44]:
s2.add(100)
s2.add(10)
s2.add(200)

s2 #this will return the set values in sorted way(ascending order)

{10, 100, 200}

In [45]:
print(s2) #print will print the values in a random order

{200, 10, 100}

In [46]:
print(s2)
print(s2)

{200, 10, 100}
{200, 10, 100}

In [47]:
s2

{10, 100, 200}

In [48]:
s3 = set()
s3

set()

In [49]:
s3.add('b')
s3.add('d')
s3.add('z')
s3.add('a')
s3.add('k')

s3

{'a', 'b', 'd', 'k', 'z'}

In [50]:
print(s1)
print(s2)
print(s3)

{True, 2.4, 'Sai', (1+2j), 10, 20, 60}
{200, 10, 100}
{'a', 'z', 'b', 'd', 'k'}

In [51]:
len(s3)

5

# Indexing and slicing are not allowed in Set

In [53]:
s3[0] #invalid as set doesn't allow indexing

TypeError: 'set' object is not subscriptable

In [54]:
s3[:3] #invalid as set doesn't allow slicing

TypeError: 'set' object is not subscriptable

In [55]:
s3[0] = 100 #invalid as set values are immutable(we can't change the set values)

TypeError: 'set' object does not support item assignment

In [58]:
s3.add(100) #set is growable(we can add any number of elements to a set dynamically)

s3

{100, 'a', 'b', 'd', 'k', 'z'}

In [60]:
s3.add(100) #set ignores the duplicate values(each value is accepted only once)

s3

{100, 'a', 'b', 'd', 'k', 'z'}

In [61]:
s3.add('k')

s3

{100, 'a', 'b', 'd', 'k', 'z'}

# copy a set to another is allowed

In [71]:
s4 = s3.copy()
s4

{100, 'a', 'b', 'd', 'k', 'z'}

In [72]:
s4 == s3

True

In [73]:
print(s4)

{'a', 100, 'b', 'z', 'd', 'k'}

# Clear function

In [74]:
s4.clear() #clears the elements of the set

In [75]:
s4 # set is empty as we've cleared the elements

set()

In [76]:
del s4 #deletes the set from the memory permanently

In [77]:
s4 # invalid as s4 is deleted from the memory, system can't recognise it

NameError: name 's4' is not defined

In [79]:
s4 = s2.copy()

s4

{10, 100, 200}

In [81]:
s4.add(56)

s4

{10, 56, 100, 200}

# pop function

In [83]:
s4.pop() #removes a random element from the set

200

In [84]:
s4

{10, 56, 100}

In [85]:
s4.pop()

10

In [86]:
s4.add(30)
s4.add(40)
s4.add(60)

s4

{30, 40, 56, 60, 100}

In [87]:
s4.pop()

100

In [88]:
s4.pop()

56

In [89]:
s4

{30, 40, 60}

In [90]:
s4.pop(2) #invalid as indexing is not allowed in Set, pop() function doesn't take any arguments

TypeError: set.pop() takes no arguments (1 given)

# remove function

In [99]:
s1

{(1+2j), 10, 2.4, 20, 60, 'Sai', True}

In [100]:
s1.remove((1+2j)) #removes the specified element from the set

s1

{10, 2.4, 20, 60, 'Sai', True}

In [101]:
s1.remove(2.4)

In [102]:
s1

{10, 20, 60, 'Sai', True}

In [106]:
s1.add("Divya")
s1.add(3+5j)

In [109]:
for i in s1: #prints each set element
    print(i)

True
Sai
10
(3+5j)
20
60
Divya

In [111]:
for i in enumerate(s1): #print each set element along with the index value(not necessarily the order in which we added the elements)
    print(i)

(0, True)
(1, 'Sai')
(2, 10)
(3, (3+5j))
(4, 20)
(5, 60)
(6, 'Divya')

### Set Membership

In [114]:
'k' in s1 #checks whether the specified element is present in the set or not and returns True/False

False

In [115]:
'k' in s3

True

In [116]:
5 in s3

False

# Set Operations

### Union

In [134]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
C = {7,8,9,10}

In [120]:
A | B # Uninon - it combines both set elements and excludes the duplicates

{1, 2, 3, 4, 5, 6, 7, 8}

In [121]:
B.union(A) # Union can be defined both by union() function or | symbol

{1, 2, 3, 4, 5, 6, 7, 8}

In [122]:
C.union(A) # union will merge the unique elements and returns a new set(original sets remains unchanged)

{1, 2, 3, 4, 5, 7, 8, 9, 10}

In [125]:
A.union(B,C) #union function allows multiple arguments

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [126]:
D = {1,12,56,98,100}
D

{1, 12, 56, 98, 100}

In [127]:
A.union(B,C,D)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 56, 98, 100}

In [129]:
C | B | A # returns the unordered list of unique elements(order is not guarenteed in set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [130]:
print(C | A | B)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

### Update

In [135]:
print(A)

{1, 2, 3, 4, 5}

In [143]:
A.update(B) #updates the set with union of itself and other sets

print(A)

{1, 2, 3, 4, 5, 6, 7, 8}

In [144]:
A.update(C,D) # update function will update the original set with the new union values

print(A)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 98, 100, 12, 56}

In [149]:
print(A)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 98, 100, 12, 56}

In [145]:
E = {1,3}
F = {5,6,2}

In [146]:
E | F # union will merge the unique elements and returns a new set(original sets remains unchanged)

{1, 2, 3, 5, 6}

In [148]:
print(E)
print(F)

{1, 3}
{2, 5, 6}

### Intersection

In [150]:
print(A)
print(B)
print(C)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 98, 100, 12, 56}
{4, 5, 6, 7, 8}
{8, 9, 10, 7}

In [153]:
A & B # intersection will returns a new set of the common elements of the specified sets

{4, 5, 6, 7, 8}

In [155]:
A.intersection(B,C) #intersection can be defined either by & symbol or intersection() function

{7, 8}

In [158]:
A & C & B

{7, 8}

In [159]:
print(A) # original sets remains unchanged as intersection() will returns a new set
print(B)
print(C)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 98, 100, 12, 56}
{4, 5, 6, 7, 8}
{8, 9, 10, 7}

### difference function

In [160]:
A.difference(B) # difference function will returns the uncommon elements of the 1st set

{1, 2, 3, 9, 10, 12, 56, 98, 100}

In [162]:
B.difference(A) # returns an empty set as B doesn't have any uncommon elements

set()

In [166]:
B - C # difference function can be defined either by - symbol or difference() function

{4, 5, 6}

In [167]:
C - A # returns empty set as C doesn't have any different elements than A

set()

In [169]:
C - B # returns the different elements of C by excluding the unique elements of both B and C sets

{9, 10}

In [173]:
C - (B | A) # returns the different elements present in set C by excluding the common elements of union of A and B

set()

In [175]:
A - (B | C) # returns the different elements of set A by exluding the common elements of B and C(we're combining sets B and C by union)

{1, 2, 3, 12, 56, 98, 100}